In [1]:
import numpy as np
import pandas as pd

In [2]:
DATASET_PATH = './housing.csv'
PREPARED_DATASET_PATH = './housing_prepared.csv'

In [3]:
df = pd.read_csv(DATASET_PATH, sep=',')

In [7]:
df.shape

(10000, 20)

In [10]:
# df.columns
df.isnull()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False

In [12]:
df.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Shops_2', 'Price'],
      dtype='object')

In [14]:
import pandas as pd

class DataPipeline:
    """Подготовка исходных данных"""

    def __init__(self):
        """Параметры класса"""
        self.medians = None
        self.price_median = None
        self.square_median = None

    def fit(self, df: pd.DataFrame):
        """Сохранение статистик"""

        self.medians = df[['LifeSquare', 'Healthcare_1']].median()
        self.price_median = df['Price'].median()
        self.square_median = df['Square'].median()

    def transform(self, df: pd.DataFrame):
        """Трансформация данных"""

        df[['LifeSquare', 'Healthcare_1']] =df[['LifeSquare', 'Healthcare_1']].fillna(self.medians)


        # 2. Выбросы (outliers)
        df.loc[df['Price'] <= 0, 'Price'] = self.price_median
        df.loc[df['Square'] <= 0, 'Square'] = self.square_median

        # 3. Новые фичи (features)
        # Доля жилой площади в общей площади 
        df['life_share'] = df['Square'] / df['LifeSquare'] * 100

        # Доля кухонной площади в общей площади
        df['kitchen_share'] = df['KitchenSquare'] / df['LifeSquare'] * 100
        return df

In [19]:
df = pd.read_csv(DATASET_PATH)

pipe = DataPipeline()
pipe.fit(df)
prepared_df = pipe.transform(df)
prepared_df.to_csv(PREPARED_DATASET_PATH, index=False, encoding='utf-8')